@import '../../assets/vendor/shades/shades';
@import '../../assets/variables';

.action-dashboard {
  background: $action-dashboard-bg;
  color: $action-dashboard-fg;
  padding: $padding;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: $small-max) {
  .action-dashboard > section {
    padding: $padding / 3 0;
    margin: $padding / 3 0;
  }
}

@media screen and (max-width: $medium-max) {
  .-desktop {
    display: none;
  }
}

@media screen and (min-width: $medium-min) {
  .action-dashboard::after {
    @include clearfix;
  }

  .action-dashboard > section {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: $large-min) {
  .action-dashboard > section {
    width: 33.3%;
  }
}
