@import '../../assets/variables';
@import '../../assets/utilities';

.unit-form form {
  width: 100%;
}

.unit-form form input,
.unit-form form textarea {
  background-color: rgba(0, 0, 0, 0.26);
  color: $white;
  border: 0;
  width: 100%;
  margin: 10px 0;
}

.unit-form .react-tagsinput {
  margin-bottom: 10px;
}

.unit-form input[type=number] {
  width: 70px;
}

.unit-form input[type=range] {
  width: 200px;
}

.unit-form label {
  display: block;
  color: $secondary-white;
  font-weight: 300;
}

.unit-form button {
  display: block;
  margin-top: 10px;
}

@media (min-width: 700px) {
  .unit-form form {
    max-width: 900px;
    float: right;
  }

  .unit-form .-fixed-width { width: 400px; }
}
