@import '../../assets/vendor/shades/shades';
@import '../../assets/variables';

.unit-form form {
  width: 100%;
  max-width: 600px;
}

.unit-form form input,
.unit-form form textarea {
  background-color: $dark;
  color: $white;
  border: 0;
  width: 100%;
  margin: 10px 0;
}

.unit-form .react-tagsinput {
  margin-bottom: 10px;
}

.unit-form .group {
  display: table;
  width: 100%;

  .-left,
  .-right {
    display: table-cell;
  }

  .-left {
    width: 70px;
  }

  .-right {
    padding-left: $padding / 2;
  }
}

.unit-form label {
  display: block;
  color: $secondary-white;
  font-weight: 300;
}

.unit-form button {
  display: block;
  margin: 10px auto;
  margin-bottom: 0;
}
