button {
  position: relative;
  background-color: transparent;
  font-size: 18px;
  font-weight: 100;
  padding: 5px 10px;
  transition: all 0.25s ease;

  border: 1px solid $light-button-color;
  color: $light-button-color;
  border-radius: 3px;

  &:hover {
    background-color: $light-button-color;
    color: white;
    cursor: pointer;
  }
}
