textarea,
input {
  font-family: inherit;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1em;
}

input {
  height: 40px;
}

input[type=range] {
  -webkit-appearance: none;
  display: block;

  margin: 20px 0;
  border: 0;
  border-radius: 0;
  height: 5px;
  padding: 0;
  background-color: #b2dfdb;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $action-button-color;
}
