@import 'vendor/shades/shades';

.react-tagsinput-input {
  margin-bottom: 10px;
}

.react-tagsinput-tag {
  @include tag(35px, $tag-bg);
  @include fade-in;
  @include spacing;

  a::after {
    transition: all 0.25s ease;
  }

  a:hover::after {
    transform: scale(1.1) rotate(90deg);
    color: $clr-red;
  }
}
