@import "variables";

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #231E22;
  color: rgba(255, 255, 255, 0.7);
}

.units-list-container { display: none; }
.timer-length { display: none !important; }

label {
  margin: 5px 0;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}


main > h1 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 24px;
  margin: 0;
}



$button-color: $clr-cyan-700;
button {
  position: relative;
  background-color: transparent;
  font-size: 18px;
  font-weight: 100;
  padding: 5px 10px;
  transition: all 0.25s ease;

  border: 1px solid $button-color;
  color: $button-color;
  border-radius: 3px;

  &:hover {
    background-color: $button-color;
    color: white;
    cursor: pointer;
  }
}

textarea,
input {
  display: block;
  font-family: inherit;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1em;
  border: 0;
  background-color: rgba(0,0,0,0.26);
  color: rgba(255,255,255,0.87);
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.4);
}

input {
  height: 40px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.react-tagsinput {
  margin: 10px 0;
  width: 400px;
  display: inline-block;

  input {
    margin-top: 5px;
    display: block;
    width: 100%;
  }
}

.react-tagsinput-tag {
  background-color: $tag-bg;
  display: inline-block;
  padding-left: 20px;
  margin: 3px;
  line-height: $tag-height;
  border-radius: $tag-height / 2;
}

// We need to ensure the tap target of the remove button remains large
a.react-tagsinput-remove {
  height: 100%;
  width: $tag-height;
  padding-left: 6px;
  box-sizing: content-box;
  display: inline-block;

  &:after {
    content: '×';
    text-align: center;
    background-color: lighten($tag-bg, 5%);
    margin: ($tag-height - $tag-sub-height) / 2;
    height: $tag-sub-height;
    width: $tag-sub-height;
    line-height: $tag-sub-height;
    display: inline-block;
    border-radius: 50%;
    transition: all 0.25s ease;
  }

  &:hover {
    cursor: pointer;
    &:after {
      background-color: darken($tag-bg, 10%);
      transform: scale(1.05);
    }
  }
}
